html,body {
  margin: 0px;
  padding: 0px;
}


.nav{
  width: calc(100% - 2rem);
  height: 4rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: left;
  align-items: center;
  margin-left: 2rem;
}

.nav button{
  font-size: 1.5rem;
  width: 10rem;
  height: 3rem;
  border-radius: 0.4rem;
  outline: none;
  background-color: hsl(202, 23%, 69%);
}

.nav button:hover{
  background-color: hsla(202, 23%, 69%, 0.774);
  box-shadow: 4px 4px 10px rgb(71, 66, 66);
}



/* for components to be rendered on nav button clicks */

.section{
  width: 50%;
  height: 80vh;
}


/* css for time component */

.time{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.time span{
  font-size: 6rem;
  font-weight: bold;
}

.time button{
  color: white;
  background-color: rgb(78, 92, 92);
}
.time button:hover{
  color: white;
  background-color: #4e5c5cc8;
  box-shadow: 3px 3px 10px rgb(80, 76, 76);
}



/* css for the stopwatch component */

.stopwatch{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stopwatch span{
  font-size: 6rem;
  font-weight: bold;
}

.stopwatch button{
  color: white;
  background-color: rgb(78, 92, 92);
  margin: 0px 0.7rem;
}
.stopwatch button:hover{
  color: white;
  background-color: #4e5c5cc8;
  box-shadow: 3px 3px 10px rgb(80, 76, 76);
}




.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}




/* this is the css for the to do list */

.section2{
  padding: 3rem;
  background-color: rgba(87, 123, 147, 0.607);
  height: 84vh;
  width: 45%;
  margin-left: 2.5%;
  position: relative;
  border-radius: 2rem;
}



.upper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  input{
    background-color: aliceblue;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    padding: 0.4rem;
    width: 50%;
  }
  button{
    background-color: rgb(235, 232, 227);
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
  }


}

#one{
  display: block;
  width: 60%;
}
.lower{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  li{
    display: flex;
    gap: 2rem;
  }
}

.btns{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: right;
}

.button_class{
  background-color: rgb(235, 232, 227);
  padding: 0.2rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  width: 4rem;
}




/* making it responsive */

@media (max-width: 1200px) {
  
}